body{
     background-image: url("../../images/backPage1.jpeg");
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
     height: 950px;
     
     .contentHome{
         position:relative;
         //background-color: #f4f5f7;
         width: 100%;
         height: 100%;
         overflow: auto;
     }
}