# Master install file
#

# Create Tables
#
  CreateTable_Client               -- @ ./schemaScripts/CreateTable_Client.sql
  CreateTable_Users                -- @ ./schemaScripts/CreateTable_Users.sql

# Stored_procedures
#
#

# Clients
#

   sp_Client_Create                -- @ ./routineScripts/sp_Client_Create.sql
   sp_Client_BuilderOne            -- @ ./routineScripts/sp_Client_BuilderOne.sql
   sp_Client_BuilderAll            -- @ ./routineScripts/sp_Client_BuilderAll.sql


# Users
#

   sp_User_BuilderAll            -- @ ./routineScripts/sp_User_BuilderAll.sql
   sp_User_BuilderOne            -- @ ./routineScripts/sp_User_BuilderOne.sql
   sp_User_Create                -- @ ./routineScripts/sp_User_Create.sql
