<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="pax-img" src="../assets/img/homepage-1.jpg" alt="slide0">
			<div class="carousel-caption left-slide blue">
				<div layout="row" class="header">WELCOME TO InSITE</div>
				<div layout="row" class="text">Raytheon’s InSITE MIS is a cutting edge, real-time, web-based Management Information System that synthesizes data from various sources into management information, enabling leaders to manage global program operations.
				</div>
				<div class="button" ng-click="onDashboardLinkClick()"> TAKE ME TO MY DASHBOARD </div>

			</div>
		</div>

		<div class="item">
			<img class="pax-img" src="" alt="slide1">
			<div class="carousel-caption mid-slide black">
				<div class="text">The <strong><u> P</u>rogram <u>A</u>nalytics and 
				e<u>X</u>ecution</strong> application provides the customer an easy-to-use mobile 
				solution to track and action program information on-the-go. </div>
				<!--<div class="button" ng-click=""> GET PAX NOW </div>-->
			</div>
		</div>

		<div class="item">
			<img class="" src="" alt="slide2">
			<div class="carousel-caption right-slide blue">
				<div layout="row" class="header">COMMUNITY</div>
				<div layout="row" class="text">The Warrior Training Alliance delivers flexible, cost-effective support to the Warfighter Field Operations Customer Support
					Program. Our Team of 154 Companies helps the US Army adapt to new requirements, meet emerging training needs and ensure
					the highest standards of performance.</div>
			</div>
		</div>

		<!--<div class="item">
			<img src="http://placehold.it/1520x800" alt="slide3">
			<div class="carousel-caption left blue">
				<div layout="row" class="header">Header of Slide 4</div>
				<div layout="row" class="text">The Raytheon Automated Toolset for Lifecycle Activities and Services is a cutting edge, real-time, Web-based Management
					Information System. Synthesizing data from various sources into management information, enabling leaders to manage global
					program operations</div>
			</div>
		</div>-->
	</div>

</div>